/* Mobile */

#view, #edit					{ padding: 25px; padding-top: 0; }

#sidebar						{ float: none; width: 100%; overflow: hidden; clear: both; }
#sidebar ul						{ width: 100%; max-width: 100%; float: none; padding: 0; }
#sidebar ul li					{ margin-bottom: 1px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
#sidebar h3						{ width: 100%; max-width: 100%; float: none; }
#sidebar h3:first-child			{ margin-top: 8px; }

#detail							{ float: none; width: 100%; margin-bottom: 0; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; padding-bottom: 30px; }
#detail h1:first-child			{ margin-top: 15px; padding-top: 25px; }

ul#entries						{ column-count: 1; -webkit-column-count: 1; -moz-column-count: 1; }

#detail > footer				{ position: inherit; top: 0px; padding: 0 25px; }
#detail > footer #subfooterlinks { float: left; margin-top: 10px; color: #fff; }
#detail > footer #subfooterlinks a { display: inline-block; padding: 5px 15px; background: #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
