/* General */
/* -------------------------------------------------- */

*								{ -moz-box-sizing: border-box; box-sizing: border-box; }

body							{ margin: 0; padding: 0; font-family: Charter, Georgia, serif; background: #fff; }


/* Banner */
/* -------------------------------------------------- */

#banner_container				{ background: #282f36; font-family: Avenir Next, "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 11px; }
#banner							{ width: 90%; max-width: 1000px; padding: 5px; margin: 0px auto; font-size: 1.3em; }
#banner img						{ float: left; margin-right: 5px; margin-top: 5px; }
#banner h1						{ color: #75a2ce; margin: 0; font-size: 16px; margin-top: 2px; font-weight: 600; margin-left: 3px; }
#banner a						{ text-decoration: none; font-weight: 600; }
#banner a:hover					{ color: #fff; }
#banner a:hover h1				{ color: #fff; }

ul#account						{ float: right; margin: 0 1.5% 0 0; list-style: none; padding: 0; }
ul#account li					{ display: inline; }
ul#account li::after			{ content: ' • '; color: #355575; }
ul#account li:last-child::after	{ content: none; }
ul#account li a					{ color: #75a2ce; }
ul#account li#navlink			{ display: none; }


/* Page */
/* -------------------------------------------------- */

#page							{ overflow: hidden; clear: both; width: 90%; max-width: 1000px; padding: 5px; margin: 0px auto; }


/* Sidebar */
/* -------------------------------------------------- */

#sidebar						{ width: 30%; float: right; }
#sidebar ul						{ margin: 35px 0 0; padding: 0 1px 1px 0; list-style: none; clear: both; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#sidebar ul li					{ line-height: 1.3em; padding: 0 8px; min-width: 115px; }
#sidebar ul li + li				{ border-top: solid 1px #ccc; }
#sidebar ul li a				{ padding: 8px 0; display: inline-block; color: #000; text-decoration: none; font-size: 1.1em; width: 100%; }
#sidebar ul li a .percentage	{ font-style: normal; }

#sidebar ul li.selected			{ background: #fff; }
#sidebar ul li.selected .percentage		{ color: #777; }
#sidebar ul li.selected .percentage_container	{ border-color: #bbb; }
#sidebar ul li.selected .percent		{ background: #e08181; }
#sidebar ul li.selected a		{ color: #d65c5c; }

#sidebar ul li.pagelink a		{ padding: 8px 0; color: #2f8ebb; }

#sidebar h3						{ color: #6f1515; margin: 2em 0 .3em 0; padding-left: 8px; font-size: 1em; font-weight: normal; letter-spacing: -0.02em; clear: both; }
#sidebar h3 a					{ color: #677259; text-decoration: none; font-family: Avenir Next, Lucida Grande, Helvetica, Arial, sans-serif; display: block; padding: 8px 12px 10px; background-color: #e8f3d7; text-align: center; font-size: 16px; -moz-border-radius: 3px; border-radius: 3px; }


/* Book detail */
/* -------------------------------------------------- */

#detail							{ width: 65%; margin: 0px 1.5% 100px 3.5%; float: right; }
#detail h1						{ font-size: 28px; font-weight: normal; letter-spacing: -0.02em; margin: 0; color: #d65c5c; line-height: 1.1em; }
#detail h1:first-child			{ margin-top: 40px; }
#detail h3						{ text-transform: uppercase; color: #999; margin: 2em 0 .3em 0; font-size: .5em; font-weight: normal; letter-spacing: 0.03em; font-family: Avenir Next, Lucida Grande, Helvetica, Arial, sans-serif; }

#view							{ padding-left: 50px; padding-top: 0; min-height: 500px; }
#edit							{ padding-left: 50px; padding-top: 0; }
#edit form						{ margin-bottom: 0; }


/* Goals area */
/* -------------------------------------------------- */

#today							{ margin: .5em 0 1.5em; padding-bottom: 1.25em; border-bottom: solid 1px #ddd; }
#today .action					{ font-size: 1.1em; margin: 0; line-height: 1em; }
#today .pagenum					{ font-weight: bold; }
#today .pagecount				{ color: #999; font-style: italic; }

#goals                          { float: right; color: #aaa; font-size: 14px; }
#goals input                    { font-size: 1.8em; padding: 1px 8px; width: 3.5em; margin-left: 2px; color: #000; background: #fff; border: none; font-family: Charter, Georgia, serif; }
#goals input:focus              { outline: none; background: #fffee6; }


/* Stats */
/* -------------------------------------------------- */

ul#stats						{ padding: 0; list-style: none; clear: both; overflow: hidden; margin: 0; }
ul#stats li						{ display: inline-block; margin-right: 15px; float: left; margin-bottom: 1em; width: 100px; }
ul#stats li h3					{ margin: 0 0 1px 0; }
ul#stats li span				{ font-size: 1.4em; line-height: 1em; }


/* Percentages */
/* -------------------------------------------------- */

.percentage						{ font-size: 10px; color: #7c7967; clear: both; font-family: Avenir Next, "Lucida Grande", Helvetica, Arial, sans-serif; margin-top: 6px; }
.percentage_container			{ width: 100px; height: 10px; display: inline-block; float: left; margin-right: 5px; margin-bottom: 2px; background: #eee; }
.percentage span				{ display: block; float: left; margin-top: -5px; margin-right: 10px; }
.percentage b					{ font-weight: 600; }
.percent						{ background: #000; height: 10px; float: left; z-index: 50; }


/* Chart */
/* -------------------------------------------------- */

canvas#reading_chart			{ width: 100%; max-width: 700px; height: 250px; background: #eee; }


/* Entries */
/* -------------------------------------------------- */

ul#entries						{ margin: 0 0 50px 0; list-style: none; font-size: 13px; padding: 0; font-family: Avenir Next, "Lucida Grande", Helvetica, Arial, sans-serif; color: #666; line-height: 1.5em; column-count: 3; column-gap: 20px; -webkit-column-count: 3; -webkit-column-gap: 20px; -moz-column-count: 3; -moz-column-gap: 20px; }
ul#entries li					{ display: inline-block; width: 100%; }
ul#entries li .date				{ color: #aaa; }


/* Goal Edit */
/* -------------------------------------------------- */

#edit form						{ margin-top: 1em; }
#edit label						{ color: #345678; display: block; margin-top: .5em; }
#edit input[type=number],
	#edit input[type=text]		{ padding: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: solid 1px #bbb; font-weight: bold; font-size: 1em; }
#edit #editbooktitle			{ width: 400px; }
#edit #editbooktotalpages		{ width: 62px; }
#edit #editbookstartdate		{ width: 140px; }
#edit #editbookenddate			{ width: 140px; }
#edit small						{ color: #999; font-family: Avenir Next, "Lucida Grande", Helvetica, Arial, sans-serif; display: inline-block; margin-left: 8px; font-size: 10px; }

#edit ul#readingdays			{ margin: 0 0 1.5em 0; padding: 0; clear: both; overflow: hidden; }
#edit ul#readingdays li			{ display: inline; margin-right: 15px; float: left; text-align: center; }
#edit ul#readingdays li label	{ margin-top: 0; }


/* Dangerous */
/* -------------------------------------------------- */

ul#dangerous					{ margin-top: 3em; border-top: dotted 1px #bbb; padding-top: 5px; font-size: 10px; font-family: Avenir Next, "Lucida Grande", Helvetica, Arial, sans-serif; text-align: right; }
ul#dangerous li					{ margin-left: 15px; display: inline; }
ul#dangerous li a				{ color: #666; text-decoration: none; border-bottom: dotted 1px #999; }


/* Buttons */
/* -------------------------------------------------- */

/* Thanks to Grant Zabriskie for the .button code */
.button							{ background: #82913d; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaba61), color-stop(50%, #9cab59), color-stop(50%, #90a143), color-stop(100%, #82913d)); background: -moz-linear-gradient(#aaba61, #9cab59 50%, #90a143 50%, #82913d); background: -webkit-linear-gradient(#aaba61, #9cab59 50%, #90a143 50%, #82913d); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#aaba61', EndColorStr='#82913d'); border-color: #6e7844 #6e7844 #535e23 #6e7844; box-shadow: inset 0 0 0 1px #aebf63, 0 1px 0 #b3b3b3; -webkit-box-shadow: inset 0 0 0 1px #aebf63, 0 1px 0 #b3b3b3;	-moz-box-shadow: inset 0 0 0 1px #aebf63, 0 1px 0 #b3b3b3; text-shadow: 0 -1px 1px #535e23; color: #fff; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 12px; padding: 5px 10px !important; text-decoration: none; display: inline-block; border-width: 1px; border-style: solid; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; margin: 0; font-size: 12px; }
.button:hover					{ background: #90a143; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b8c969), color-stop(50%, #aaba61), color-stop(50%, #9db04a), color-stop(100%, #90a143)); background: -moz-linear-gradient(#b8c969, #aaba61 50%, #9db04a 50%, #90a143); background: -webkit-linear-gradient(#b8c969, #aaba61 50%, #9db04a 50%, #90a143); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b8c969', EndColorStr='#90a143'); border-color: #7c874d #6f7a3a #616e29 #6f7a3a; box-shadow: inset 0 0 0 1px #b8c969, 0 1px 0 #b3b3b3; -webkit-box-shadow: inset 0 0 0 1px #b8c969, 0 1px 0 #b3b3b3; -moz-box-shadow: inset 0 0 0 1px #b8c969, 0 1px 0 #b3b3b3; text-shadow: 0 -1px 1px #616e29; color: #fff; cursor: pointer; }
.button:active					{ box-shadow: inset 0 0 0 1px #b8c969, 0 1px 0 #b3b3b3; position: relative; top: 1px; outline: none; }


/* Footer */
/* -------------------------------------------------- */

#view footer, #edit footer		{ border-top: dotted 1px #bbb; padding-top: 5px; font-size: 13px; font-family: Avenir Next, "Lucida Grande", Helvetica, Arial, sans-serif; text-align: right; }
#view footer a, #edit footer a	{ text-decoration: none; border-bottom: dotted 1px #999; color: #666; }


/* Datepicker */
/* -------------------------------------------------- */

.date_selector					{ -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-family: Avenir Next, "Lucida Grande", Helvetica, Arial, sans-serif; }
.date_selector .nav				{ clear: both; overflow: hidden; color: #999; }

.date_selector .button			{ background: none; padding: 0 !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; border: none; position: normal; top: 0; }
.date_selector .button:hover	{ background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; border: none; }


/* All Books */
/* -------------------------------------------------- */

ul.allbooks						{ list-style: none; padding: 0; margin: .25em 0 2em; clear: both; overflow: hidden; border-top: solid 1px #ddd; }
ul.allbooks > li				{ padding: 3px 0; border-bottom: solid 1px #ddd; }
ul.allbooks > li				{ clear: both; overflow: hidden; background: #fff; }
ul.allbooks > li h4				{ margin: 5px 0; line-height: 1.3em; }
ul.allbooks > li h4 a			{ text-decoration: none; color: #000; font-style: italic; font-size: 18px; letter-spacing: -0.02em; font-weight: normal; }
ul.allbooks > li h4 a:hover		{ color: #6f1515; text-decoration: underline; }

ul.allbooks > li .bookinfo		{ float: right; margin-top: 5px; font-family: Avenir Next, "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 11px; color: #666; margin-left: 15px; }

ul.smalllist					{ border-top: solid 1px #ddd; border-bottom: solid 1px #ddd; padding: 0; margin: 0; }
ul.smalllist > li				{ font-family: Avenir Next, "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 11px; margin: 5px 0px 5px 0; padding: 4px 0 5px; display: inline-block; border: none; }
ul.smalllist > li a				{ color: #999; padding: 3px 8px 5px; background: #eee; -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; text-decoration: none; }
ul.smalllist > li a:hover		{ background: #bbb; color: #fff; }


/* Account */
/* -------------------------------------------------- */

form#account					{ margin-top: 1em; }
form#account label				{ text-transform: uppercase; color: #999; margin: 1em 0 0; font-size: .9em; font-weight: normal; letter-spacing: 0.05em; display: block; }
form#account input[type="text"], form#account input[type="email"]	{ padding: 3px; font-weight: bold; border: solid 1px #bbb; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; display: block; font-size: .9em; }
form#account input[type="text"]		{ width: 175px; }
form#account input[type="email"]	{ width: 250px; }
form#account input[type="submit"]	{ margin: 1em 0; }
form#account p small				{ color: #999; font-family: Avenir Next, "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 10px; line-height: 1.4em; }

a#exportlink, a#importlink			{ color: #888; font-family: Avenir Next, "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 11px; text-decoration: none; background: #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 5px 15px 6px; }
a#exportlink:hover, a#importlink:hover	{ background: #444; color: #fff; }

textarea#jsonimport				{ width: 100%; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: solid 1px #bbb; margin-top: 1em; }

p.warning						{ font-family: Avenir Next, "Lucida Grande", Helvetica, Arial, sans-serif; font-size: .8em; color: #600; background: #fee; padding: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }


/* Subfooter */
/* -------------------------------------------------- */

ul#subfooterlinks				{ list-style: none; padding: 0; margin: 0; }
ul#subfooterlinks li			{ display: inline; margin-left: 15px; }


/* Home (Dashboard) */
/* -------------------------------------------------- */

ul.biglist						{ padding: 0; list-style: none; margin: 0; border-top: solid 1px #ddd; }
ul.biglist li					{ padding: 5px 0; font-size: 22px; line-height: 1em; color: #999; font-style: italic; clear: both; overflow: hidden; border-bottom: solid 1px #ddd; }
ul.biglist li .pages			{ width: 175px; margin-right: 15px; font-style: normal; font-weight: bold; color: #6f1515; display: inline-block; }
ul.biglist li .numpages			{ color: #999; font-weight: normal; font-size: .8em; }
ul.biglist li .booktitle		{ display: inline-block; width: calc(100% - 190px); }
ul.biglist li .booktitle a		{ letter-spacing: -0.05em; color: #000; text-decoration: none; }
ul.biglist li .booktitle a:hover { text-decoration: underline; }

@media only screen and (max-width: 900px) {
	/* Tablet */

	#view, #edit					{ padding: 35px; padding-top: 0; }

	#detail							{ margin-top: 20px; }
	#sidebar ul						{ margin-top: 20px; }

	#goals							{ float: none; display: block; padding: 0; margin-bottom: .5em; }
	ul#entries						{ column-count: 2; -webkit-column-count: 2; -moz-column-count: 2; }

	#detail > footer				{ position: inherit; top: 0px; padding: 0 35px 35px; }
	#detail > footer span			{ display: block; font-size: .8em; float: left; width: 200px; line-height: 1.5em; color: #aaa; margin-right: 20px; }
	#detail > footer span a			{ color: #999; }

	#detail #subfooterlinks			{ float: left; margin-top: 10px; color: #fff; }
	#detail #subfooterlinks a		{ display: inline-block; padding: 5px 15px 6px; background: #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-size: 11px; color: #888; text-decoration: none; border: none; font-weight: bold; }
	#detail #subfooterlinks a:hover	{ background: #444; color: #fff; }
	#detail ul#subfooterlinks		{ padding: 0; float: right; }

	#detail form footer				{ padding: 0; clear: both; overflow: hidden; }
}

@media only screen and (max-width: 700px) {
	/* Mobile */

	body							{ background: #fff; }

	#banner							{ width: 100%; }
	#banner a						{ padding: 5px 0; display: inline-block; }
	#banner h1						{ margin-top: -2px; }
	#banner img						{ margin-top: 1px; }

	ul#account li#navlink			{ display: inline; }

	#page							{ width: 100%; padding: 0; }

	#view, #edit					{ padding: 0 20px 0; min-height: 0; }
	
	#sidebar						{ float: none; width: 100%; overflow: hidden; clear: both; border-top: solid 1px #777; }
	#sidebar ul						{ width: 100%; max-width: 100%; float: none; padding: 0; margin-top: -7px; padding-top: 3px; }
	#sidebar ul li					{ margin-bottom: 1px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; padding: 4px 15px; }
	#sidebar ul li a				{ padding-top: 3px; width: 100%; padding-bottom: 2px; }
	#sidebar ul li.pagelink			{ padding-top: 2px; }
	#sidebar ul li.pagelink:first-child		{ margin-top: 6px; }

	#sidebar h3						{ width: 100%; max-width: 100%; float: none; margin: 0; padding: 10px 15px 20px; background: #fff; }
	
	#detail							{ float: none; width: 100%; margin: 0; padding: 0 0 30px 0; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
	#detail h1						{ font-size: 24px; }
	#detail h1:first-child			{ margin-top: 0; padding-top: 20px; }
	#detail > footer				{ padding: 0 20px 0 20px; }

	#detail > footer span			{ width: 100%; display: block; float: none; }
	#detail > footer #subfooterlinks	{ float: none; }

	#detail ul#subfooterlinks		{ float: none; }
	#detail ul#subfooterlinks li	{ width: 100%; display: block; margin-left: 0; }
	
	#today							{ margin-top: .85em; padding-bottom: 0; margin-bottom: .5em; border-bottom: none; }

	#goals							{ font-size: .7em; color: #999; }
	#goals input#currententry		{ width: 2.5em; margin: 0 0 1em 0; font-size: 2.4em; padding: 0px; display: block; border-bottom: dotted 1px #aaa; -moz-border-radius: 0px; border-radius: 0px; }
	#goals input:focus              { background: #fff; }

	#detail > footer				{ position: inherit; top: 0px; padding: 0 25px; }
	#detail > footer span			{ display: block; }
	#detail > footer #subfooterlinks { float: left; margin-top: 10px; color: #fff; }
	#detail > footer #subfooterlinks a { display: inline-block; padding: 5px 15px; background: #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
	
	ul.biglist li					{ padding: 10px 0; }
	ul.biglist li .pages			{ display: block; width: auto; }
	
	#editbooktitle					{ width: 100%; max-width: 100%; }

	ul#entries						{ margin-bottom: 10px; }

	#view footer, #edit footer		{ padding-top: 10px; border-top: none; }
	#view footer a, #edit footer a	{ display: block; text-align: center; width: 100%; padding: 8px 12px 10px; color: #677259; background: #e8f3d7; -moz-border-radius: 3px; border-radius: 3px; border: none; font-size: 16px; font-weight: normal; margin: 0 0 5px 0; }

	ul#stats li						{ width: 70px; }
	ul#stats li span				{ font-size: 1.1em; }

	canvas#reading_chart			{ height: 170px; }

	#actionhtml						{ display: none; }

	#detail h3						{ margin-top: .25em; }
	#detail canvas + h3				{ margin-top: 1em; }

	ul#booklist						{ border-bottom: solid 1px #ccc; }
}
