/* General */
/* -------------------------------------------------- */

body							{ margin: 0; padding: 0; font-family: "Crimson Text", Georgia, serif; background: #e5e3da; background: -webkit-gradient(radial, 50% 0, 500px, 50% 0 2000px, from(#f5f3ea), to(#ccc9b9)); background: -moz-radial-gradient(50% 0, circle, #f5f3ea 0%, #ccc9b9 70%); background: -webkit-radial-gradient(50% 0, circle, #f5f3ea, #ccc9b9); background: radial-gradient(50% 0, circle, #f5f3ea, #ccc9b9); }
#content						{ overflow: hidden; clear: both; }


/* Sidebar */
/* -------------------------------------------------- */

#sidebar						{ width: 35%; float: left; }
#sidebar ul						{ margin: 0; width: 90%; max-width: 275px; float: right; list-style: none; clear: both; }
#sidebar ul li					{ line-height: 1.3em; margin-bottom: 7px; padding-left: 8px; -moz-border-radius: .5em 0 0 .5em; -webkit-border-radius: .5em 0 0 .5em; border-radius: .5em 0 0 .5em; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); border-style: solid none none solid; border-width: 1px; border-color: rgba(255, 255, 255, 0.6); background: #dcd9c7; background: -webkit-gradient(linear, left top, left bottom, from(#dcd9c7), to(#ccc9b7)); background: -moz-linear-gradient(top, #dcd9c7, #ccc9b7); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcd9c7', endColorstr='#ccc9b7'); min-width: 115px; }
#sidebar ul li a				{ padding: 7px 0 3px; display: inline-block; color: #000; text-decoration: none; font-style: italic; font-size: 1.2em; text-shadow: #fff -1px 1px 1px; width: 100%; }
#sidebar ul li a .percentage	{ font-style: normal; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6); }

#sidebar ul li.selected			{ background: #fff; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); background: -moz-linear-gradient(top, #fff, #eee); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eee'); }
#sidebar ul li.selected .percentage		{ color: #777; }
#sidebar ul li.selected .percentage_container	{ border-color: #bbb; }
#sidebar ul li.selected .percent		{ background: #ccc; }

#sidebar ul li.pagelink a		{ padding: 4px 0; }
#sidebar ul li.pagelink:first-child { margin-top: 50px; }
#sidebar ul li.pagelink.last	{ margin-bottom: 20px; }

#sidebar h3						{ width: 90%; max-width: 275px; float: right; text-transform: uppercase; color: #6f1515; margin: 1em 0 .3em 0; padding-left: 8px; font-size: .9em; font-weight: normal; letter-spacing: 0.05em; text-shadow: #fff -1px 1px 1px; clear: both; }
#sidebar h3 a					{ color: #6f1515; text-decoration: none; border-bottom: dotted 1px #9f5353; }


/* Book detail */
/* -------------------------------------------------- */

#detail							{ background: #fff; width: 65%; max-width: 700px; float: left; box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1), 5px 0 10px rgba(0, 0, 0, 0.1); -moz-border-radius: 0 0 .5em .5em; -webkit-border-radius: 0 0 .5em .5em; border-radius: 0 0 .5em .5em; margin-bottom: 100px; }
#detail h1						{ font-size: 36px; font-weight: normal; letter-spacing: -0.05em; font-style: italic; margin: 0; color: #6f1515; line-height: 1.1em; }
#detail h1:first-child			{ margin-top: 50px; }
#detail h3						{ text-transform: uppercase; color: #999; margin: 2em 0 .3em 0; font-size: .9em; font-weight: normal; letter-spacing: 0.05em; }

#view							{ padding: 50px; padding-top: 0; min-height: 300px; }
#edit							{ padding: 50px; padding-top: 0; }


/* Goals area */
/* -------------------------------------------------- */

#today							{ margin: .5em 0 1.5em; padding-bottom: .5em; border-bottom: dotted 1px #bbb; }
#today .action					{ font-size: 1.4em; margin: 0; line-height: 1em; }
#today .pagenum					{ font-weight: bold; }
#today .pagecount				{ color: #999; font-style: italic; }

#goals                          { float: right; color: #666; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 12px; text-shadow: 0 1px 1px #fff; /* padding: 0px 2px 0px 10px; */ }
#goals input                    { font-size: 1.3em; font-weight: bold; border: none; padding: 1px 8px; width: 4.5em; margin-left: 2px; -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; border-width: 1px; border-style: solid; border-color: #ddd; color: #6f1515; }
#goals input:focus              { outline: none; background: #fffee6; }


/* Stats */
/* -------------------------------------------------- */

ul#stats						{ padding: 0; list-style: none; clear: both; overflow: hidden; margin: 0; }
ul#stats li						{ display: inline-block; margin-right: 15px; float: left; margin-bottom: .25em; width: 100px; }
ul#stats li h3					{ margin: 0 0 3px 0; }
ul#stats li span				{ font-weight: bold; font-size: 1.4em; line-height: 1em; }


/* Percentages */
/* -------------------------------------------------- */

.percentage						{ font-size: 10px; color: #7c7967; clear: both; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; margin-top: 4px; }
.percentage_container			{ width: 100px; border: solid 1px #bcb9a7; -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; height: 10px; display: inline-block; box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6), 0 1px 1px rgba(0, 0, 0, 0.1) inset; float: left; margin-right: 5px; margin-bottom: 2px; }
.percentage span				{ display: block; float: left; margin-top: -3px; margin-right: 10px; }
.percent						{ background: #aca997; height: 9px; float: left; z-index: 50; -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; border-top: solid 1px rgba(255, 255, 255, 0.5); box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5) inset, 1px 1px 2px rgba(0, 0, 0, 0.5); }


/* Chart */
/* -------------------------------------------------- */

canvas#reading_chart			{ width: 100%; max-width: 700px; height: 250px; background: #eee; }


/* Entries */
/* -------------------------------------------------- */

ul#entries						{ margin: 0 0 50px 0; list-style: none; font-size: 11px; padding: 0; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; color: #666; line-height: 1.5em; column-count: 3; column-gap: 20px; -webkit-column-count: 3; -webkit-column-gap: 20px; -moz-column-count: 3; -moz-column-gap: 20px; }
ul#entries li .date				{ color: #aaa; }


/* Goal Edit */
/* -------------------------------------------------- */

#edit form						{ margin-top: 1em; }
#edit label						{ color: #345678; display: block; margin-top: .5em; }
#edit input[type="text"]		{ padding: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: solid 1px #bbb; font-weight: bold; font-size: 1em; }
#edit #editbooktitle			{ width: 400px; }
#edit #editbooktotalpages		{ width: 62px; }
#edit #editbookstartdate		{ width: 120px; }
#edit #editbookenddate			{ width: 120px; }

#edit ul#readingdays			{ margin: 0 0 1.5em 0; padding: 0; clear: both; overflow: hidden; }
#edit ul#readingdays li			{ display: inline; margin-right: 15px; float: left; text-align: center; }


/* Dangerous */
/* -------------------------------------------------- */

ul#dangerous					{ margin-top: 3em; border-top: dotted 1px #bbb; padding-top: 5px; font-size: 10px; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; text-align: right; }
ul#dangerous li					{ margin-left: 15px; display: inline; }
ul#dangerous li a				{ color: #666; text-decoration: none; border-bottom: dotted 1px #999; }


/* Buttons */
/* -------------------------------------------------- */

/* Thanks to Grant Zabriskie for the .button code */
.button							{ background: #82913d; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaba61), color-stop(50%, #9cab59), color-stop(50%, #90a143), color-stop(100%, #82913d)); background: -moz-linear-gradient(#aaba61, #9cab59 50%, #90a143 50%, #82913d); background: -webkit-linear-gradient(#aaba61, #9cab59 50%, #90a143 50%, #82913d); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#aaba61', EndColorStr='#82913d'); border-color: #6e7844 #6e7844 #535e23 #6e7844; box-shadow: inset 0 0 0 1px #aebf63, 0 1px 0 #b3b3b3; -webkit-box-shadow: inset 0 0 0 1px #aebf63, 0 1px 0 #b3b3b3;	-moz-box-shadow: inset 0 0 0 1px #aebf63, 0 1px 0 #b3b3b3; text-shadow: 0 -1px 1px #535e23; color: #fff; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 12px; padding: 5px 10px !important; text-decoration: none; display: inline-block; border-width: 1px; border-style: solid; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; margin: 0; font-size: 12px; }
.button:hover					{ background: #90a143; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b8c969), color-stop(50%, #aaba61), color-stop(50%, #9db04a), color-stop(100%, #90a143)); background: -moz-linear-gradient(#b8c969, #aaba61 50%, #9db04a 50%, #90a143); background: -webkit-linear-gradient(#b8c969, #aaba61 50%, #9db04a 50%, #90a143); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b8c969', EndColorStr='#90a143'); border-color: #7c874d #6f7a3a #616e29 #6f7a3a; box-shadow: inset 0 0 0 1px #b8c969, 0 1px 0 #b3b3b3; -webkit-box-shadow: inset 0 0 0 1px #b8c969, 0 1px 0 #b3b3b3; -moz-box-shadow: inset 0 0 0 1px #b8c969, 0 1px 0 #b3b3b3; text-shadow: 0 -1px 1px #616e29; color: #fff; cursor: pointer; }
.button:active					{ box-shadow: inset 0 0 0 1px #b8c969, 0 1px 0 #b3b3b3; position: relative; top: 1px; outline: none; }


/* Footer */
/* -------------------------------------------------- */

#view footer, #edit footer		{ border-top: dotted 1px #bbb; padding-top: 5px; font-size: 10px; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; text-align: right; }
#view footer a, #edit footer a	{ text-decoration: none; border-bottom: dotted 1px #999; color: #666; }


/* Datepicker */
/* -------------------------------------------------- */

.date_selector					{ -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; }
.date_selector .nav				{ clear: both; overflow: hidden; color: #999; }

.date_selector .button			{ background: none; padding: 0 !important; box-shadow: none; border: none; position: normal; top: 0; }
.date_selector .button:hover	{ background: none; box-shadow: none; border: none; }


/* All Books */
/* -------------------------------------------------- */

ul.allbooks						{ list-style: none; padding: 0; margin: .25em 0 2em; clear: both; overflow: hidden; border-top: solid 1px #ddd; }
ul.allbooks > li				{ padding: 3px 0; border-bottom: solid 1px #ddd; }
ul.allbooks > li				{ clear: both; overflow: hidden; background: #fff; }
ul.allbooks > li h4				{ margin: 5px 0; line-height: 1.3em; }
ul.allbooks > li h4 a			{ text-decoration: none; color: #000; font-style: italic; font-size: 22px; letter-spacing: -0.05em; font-weight: normal; }
ul.allbooks > li h4 a:hover		{ color: #6f1515; text-decoration: underline; }

ul.allbooks > li .bookinfo		{ float: right; margin-top: 5px; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 11px; color: #666; margin-left: 15px; }

ul.allbooks.hidden				{ border-bottom: solid 1px #ddd; }
ul.allbooks.hidden > li			{ font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 11px; margin: 5px 5px 5px 0; display: inline-block; border: none; }
ul.allbooks.hidden > li a		{ color: #999; padding: 3px 8px 5px; background: #eee; -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; text-decoration: none; }
ul.allbooks.hidden > li a:hover	{ background: #bbb; color: #fff; }


/* Account */
/* -------------------------------------------------- */

form#account					{ margin-top: 1em; }
form#account label				{ text-transform: uppercase; color: #999; margin: 1em 0 0; font-size: .9em; font-weight: normal; letter-spacing: 0.05em; display: block; }
form#account input[type="text"], form#account input[type="email"]	{ padding: 3px; font-weight: bold; border: solid 1px #bbb; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; display: block; font-size: .9em; }
form#account input[type="text"]		{ width: 175px; }
form#account input[type="email"]	{ width: 250px; }
form#account input[type="submit"]	{ margin: 1em 0; }
form#account p small				{ color: #999; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 10px; line-height: 1.4em; }


/* Subfooter */
/* -------------------------------------------------- */

#detail > footer				{ position: relative; top: 20px; font-size: 11px; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; color: #999; padding: 0 5px; }
#detail > footer a				{ color: #777; text-decoration: none; }
#detail > footer a#logoutlink	{ float: right; }
